@use '../global-styles/extensions';
@use '../global-styles/breakpoints';

.header{
  width: 300px;
  right: 300px;
  position: fixed;
}
.nav{
  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
  width: 100%;
}
.menu-item{
  @extend .outline-over-light;
  display: grid;
  place-content: center;
  padding: 10px;
  border-radius: var(--rad-small);
  svg{
    width: 24px;
    height: 24px;
    fill: var(--color-dark-grey);
  }
  &--contact{
    @extend .outline-over-light;
    align-self: center;
    margin-right: auto;
    background-color: var(--color-darkest);
    padding: 10px 20px;
    border: none;
    border-radius: var(--rad-small);
    color: var(--color-white);
    text-decoration: none;
    transition: var(--time-base);
    &:hover, &:focus {
      background-color: var(--color-accent);
      color: var(--color-dark-grey);
    }
  }
}