@use '../../global-styles/breakpoints';
@use '../../global-styles/extensions';

.heading-text{
  grid-column: 1/-1;
  margin-bottom: 20px;
}
.subheading{ margin-bottom: 20px; }
.headshot{
  grid-column: 2/7;
  width: 100%;
  aspect-ratio: 1/1;
  grid-row: span 2;
}

.intro_wrapper{
  margin-top: 90px;
  height: calc( 100vh - 90px );
  display: grid;
  place-content: center;
}

.intro{
  position: relative;
  height: min-content;
}
.intro_abstract{
  grid-column: 1/-1;
  @include breakpoints.size(md){ grid-column: 2/6; }
  @include breakpoints.size(lg){ grid-column: 4/10; }
}

.abstract{
  position: absolute;
  width: 800px;
  right: -250px;
  rotate: -25deg;
  top: -300px;
  z-index: var(--level-sub-5);
}

@include breakpoints.size(md){
  .intro{ align-items: center; }
  .heading-text{ grid-column: 2/6; }
  .headshot{ grid-column: 7/10; }
}

@include breakpoints.size(lg){
  .heading-text{ grid-column: 4/9; }
  .headshot{ grid-column: 10/14; }
}