@use '../../global-styles/breakpoints';
@use '../../global-styles/extensions';

.heading-text{
  grid-column: 1/-1;
  margin-bottom: 20px;

}
.subheading{ margin-bottom: 20px; }
.headshot{
  grid-column: 2/7;
  width: 100%;
  height: min-content;
  aspect-ratio: 1/1;
  background-color: var(--transparent-core);
  border-radius: 100%;
  border: 5px solid var(--color-core);
  object-fit: cover;
}

.intro_wrapper{
  margin-top: 90px;
  height: calc( 100vh - 90px );
  display: grid;
  place-content: center;
  position: relative;
  @include breakpoints.size(md){
    margin-top: 0;
  }
}

.intro{
  position: relative;
  height: min-content;
  align-items: center;
  @extend .backdrop-blur;
  border: none;
}

@include breakpoints.size(md){
  .intro{
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .heading-text{ grid-column: 2/6; }
  .headshot{ grid-column: 7/10; }
}

@include breakpoints.size(lg){
  .heading-text{ grid-column: 4/9; }
  .headshot{ grid-column: 10/14; }
}
