@use '../global-styles/breakpoints';

.form{
  display: flex;
  flex-flow: column nowrap;
  &--block{
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 20px;
    button{
      width: min-content;
      padding: 5px 20px;
      margin-left: auto;
      border: none;
      border-radius: var(--rad-small);
      background-color: var(--color-white);
      color: var(--color-core);
      font-family: "Noto Sans Mono";
      font-size: 1.6rem;
      font-weight: 600;
      transition: var(--time-mid);
      &:hover, &:focus{
        background-color: var(--color-accent);
        color: var(--color-white);
      }
    }
    input, textarea{
      font-size: 1.4rem;
      padding: 5px 10px;
      height: min-content;
      border: 1px solid var(--color-core);
      border-radius: var(--rad-small);
    }
    textarea {
      min-height: 150px;
      max-height: 500px;
      height: auto;
    }
  }
}
