.abstract_wrapper{}

.line{
  height: 12px;
  box-shadow: var(--box-shadow);
  transition: var(--time-base);
  border-bottom-right-radius: var(--rad-hardest);
  opacity: 1;
  width: 0%;
  //&:hover{
  //  background-color: var(--color-accent);
  //}
  &__one{
    background-color: var(--color-darkest);
  }
  &__two{
    //width: 80%;
    background-color: var(--color-darker);
  }
  &__three{
    //width: 60%;
    background-color: var(--color-dark);
  }
  &__four{
    //width: 40%;
    background-color: var(--color-core);
  }
}