.abstract_wrapper{}

.line{
  height: 12px;
  box-shadow: var(--box-shadow);
  transition: var(--time-base);
  border-bottom-right-radius: var(--rad-hardest);
  opacity: 1;
  //width: 0%;
  &__one{ background-color: var(--color-accent); }
  &__two{ background-color: var(--color-alt1-accent); }
  &__three{ background-color: var(--color-alt2-accent); }
  &__four{ background-color:#ffd500; }
}