@use '../../global-styles/breakpoints';


.card{
  grid-column: span 6;
  margin-bottom: 40px;
  padding: 14px;
  box-shadow: var(--box-shadow);
  @include breakpoints.size(md){
    grid-column: span 5;
  }
  @include breakpoints.size(lg){
    grid-column: span 4;
  }
}

.lead_in{
  grid-column: span 6;
  @include breakpoints.size(md){
    grid-column: span 5;
  }
  @include breakpoints.size(lg){
    grid-column: span 8;
  }
}
