@use '../../global-styles/extensions';
@use '../../global-styles/breakpoints';

.title{ grid-column: 1/-1; }
.list{
  @extend .stack-list;
  grid-column: 1/-1;
}
.stack_wrapper{
  grid-column: 1/-1;
  grid-row: span 2;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@include breakpoints.size(md){
  .title,
  .list{
    grid-column: 3/8 ;
  }
  .stack_wrapper{
    grid-column: 10/15;
    position: relative;
  }
}