@use '../../global-styles/extensions';
@use '../../global-styles/breakpoints';

.title, .stack_wrapper{
  grid-column: 1/-1;
}
.list{
  @extend .stack-list;
  grid-column: 1/-1;
}

@include breakpoints.size(md){
  .title,
  .list{
    grid-column: 3/8 ;
  }
  .stack_wrapper{
    grid-column: 10/17;
    grid-row: 1/-1;

    outline: 2px solid red;
    position: relative;
  }
}