@use '../../global-styles/breakpoints';
@use '../../global-styles/extensions';

.title{
  grid-column: 1/-1;
  @include breakpoints.size(lg){ grid-column: 4/-1; }
}
.text{
  grid-column: 1/-1;
  @include breakpoints.size(md){ grid-column: 1/6; }
  @include breakpoints.size(lg){ grid-column: 4/9; }
}
.form{
  grid-column: 1/-1;
  @include breakpoints.size(md){ grid-column: 7/11; }
  @include breakpoints.size(lg){ grid-column: 10/14; }
}

.excerpts{}
.line{}
.contact{
  margin-bottom: 20px;
}
.contact_wrapper{
  min-height: 40vh;
  @extend .backdrop-blur;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  &__inner_bounds{
    height: min-content;
    @include breakpoints.size(md){
      margin-bottom: 60px;
    }
  }
}
.label{ margin-right: 5px; }
.break{ margin-bottom: 10px; }
.email, .phone{
  display: inline-block;
  margin-top: 10px;
}
