@use '../../global-styles/extensions';
@use '../../global-styles/breakpoints';
@use '../../global-styles/layouts';

.first,
.second,
.third{
  @extend .just-grid;
  margin-bottom: 20px;
}

.image-wrapper{
  grid-column: 1/-1;
  position: relative;
  width: 100%;
  aspect-ratio: 8/5;
  margin-top: 40px;
  margin-bottom: 40px;
}
.image{
  display: block;
  object-fit: cover;
  object-position: center;
  box-shadow: var(--box-shadow);
  border-radius: var(--rad-small) var(--rad-hard);
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.second .image-wrapper{ grid-row: 1; }
.second .image-wrapper .image{ border-radius:  var(--rad-hard) var(--rad-small); }
.about{ grid-column: 1/-1; }
.title{ margin-bottom: 1.6rem;}
.stack-list{
  @extend .stack-list;
  align-content: unset;
  max-height: 150px;
}

@include breakpoints.size(md){
  .image-wrapper{ grid-column: 1/6; }
  .about{ grid-column: 6/11; }
  .second {
    .image-wrapper { grid-column:6/11; }
    .about{ grid-column: 1/6; }
  }
}


@include breakpoints.size(lg){
  .image-wrapper{ grid-column: 3/8; }
  .about{ grid-column: 9/15; }
  .second {
    .image-wrapper { grid-column: 9/15; }
    .about{ grid-column: 3/8; }
  }

  .first, .second, .third{
    margin-bottom: 40px;
  }
}