@use '../../global-styles/extensions';
@use '../../global-styles/breakpoints';
@use '../../global-styles/layouts';

.first,
.second,
.third{
  grid-column: 1/-1;
  @extend .just-grid;
  margin-bottom: 20px;
}

.second .image-wrapper{ grid-row: 1; }

.image-wrapper{
  grid-column: 1/-1;
  position: relative;
  width: 100%;
  aspect-ratio: 8/5;
}
.image{
  object-fit: cover;
  object-position: center;
}
.about{ grid-column: 1/-1; }

.stack-list{
  @extend .stack-list;
  align-content: unset;
}

@include breakpoints.size(md){
  .image-wrapper{ grid-column: span 4; }
  .about{ grid-column: span 6; }
  .second {
    .image-wrapper { grid-column:6/11; }
    .about{ grid-column: 1/6; }
  }
}


@include breakpoints.size(lg){
  .image-wrapper{ grid-column: 3/8; }
  .about{ grid-column: 9/15; }
  .second {
    .image-wrapper { grid-column: 9/15; }
    .about{ grid-column: 3/8; }
  }

  .first, .second, .third{
    margin-bottom: 40px;
  }
}