@use '../../global-styles/breakpoints';

.backdrop{
  position: fixed;
  top: -40vh;
  left: -40vh;
  width: 140vw;
  height: 140vh;
  background-color: var(--color-core);
  z-index: -50;
  &__wrapper{
    width: 120%;
    height: 120%;
    position: relative;
  }
}

.stripe{
  transform: translateX(-60vh);
  width: 160vh;
  min-height: 15%;
  box-shadow: var(--box-shadow);
  transition: all ease-in-out 1000ms;
  position: relative;
  transform-origin: top;
  @include breakpoints.size(md){
    transform: translateX(-40vw);
    width: 180vw;
  }
  &__1{
    @extend .stripe;
    background-color: var(--color-dark);
    z-index: 106;
  }
  &__2{
    @extend .stripe;
    background-color: var(--color-brighter);
    z-index: 105;
  }
  &__3{
    @extend .stripe;
    background-color: var(--color-bright);
    z-index: 104;
  }
  &__4{
    @extend .stripe;
    background-color: var(--color-core);
    z-index: 103;
  }
  &__5{
    @extend .stripe;
    background-color: var(--color-dark);
    z-index: 102;
  }
  &__6{
    @extend .stripe;
    background-color: var(--color-darker);
    z-index: 101;
  }
}
