.outline-over-light{
  transition: var(--time-base);
  outline: 2px solid transparent;
  &:focus-visible{
    outline: 2px solid var(--color-accent);
    outline-offset: 3px;
  }
}

.stack-list{
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  max-height: 200px;
  list-style: none;
  padding: 0;
  li{
    margin-bottom: 1.4rem;
  }
}

.backdrop-blur{
  background-color: var(--transparent-dark);
  backdrop-filter: blur(8px) ;
  border-radius: var(--rad-hard);
  box-shadow: var(--box-shadow);
  padding: 20px;
}