.title--1 {
  font-size: 4.2rem;
  line-height: 110%;
}
.title--2 {
  font-size: 2.8rem;
  line-height: 110%;
}

.title--3 {
  font-size: 2.4rem;
  line-height: 110%;
}

.title--4 {
  font-size: 2.2rem;
  line-height: 110%;
}

.basic {
  font-size: 1.4rem;
  line-height: 120%;
}
