@use "./font-type.scss";

h1{
  @extend .title--1;
}
h2{
  @extend .title--2;
}
.section-title{
  @extend .title--2;
  margin-bottom: 2rem;
}

h3{
  @extend .title--3;
}
h4{
  @extend .title--4;
}

p{
  @extend .basic;
}

.paragraph-gap{
  display: inline-block;
  margin-bottom: 1.4rem;
}

ul{
  li{ @extend .basic;}
}

.markdown-wys{
  p{ @extend .paragraph-gap; }
}

.form-label{
  @extend .basic;
  font-weight: 500;
  margin-bottom: 10px;
}
.decorative-link{
  @extend .basic;
  color: var(--color-alt1-accent);
  text-decoration: none;
  transition: var(--time-mid);
  transition-timing-function: cubic-bezier(1,.04,.62,.36);
  position: relative;
  border-radius: var(--rad-small);
  outline: 1px solid transparent;
  font-weight: 500;

  &::after{
    content: '';
    position: absolute;
    background-color: transparent;
    height: 3px;
    border-radius: var(--rad-small);
    width: 30%;
    left: 0;
    bottom: -3px;
    transition: var(--time-mid);
  }
  &:hover, &:focus{

    font-weight: 700;
    &::after{
      width: 85%;
      background-color: var(--color-alt1-accent);
    }
  }

  &:focus-visible{
    outline-offset: 6px;
    outline: 2px solid var(--color-accent);
  }
}
