@use './breakpoints';

.container{
  position: relative;
  margin: auto auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 100%;
  @include breakpoints.size(lg){
    padding-left: 60px;
    padding-right: 60px;
    max-width: 1440px;
  }
}

.section{
  width: 100%;
  height: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
  @include breakpoints.size(md){
    margin-top: 60px;
    margin-bottom: 60px;
  }
  @include breakpoints.size(lg){
    margin-top: 100px;
    margin-bottom: 100px;
  }
  &--with-grid{
    @extend .section;
    display: grid;
    grid-template-columns: repeat( 6, 1fr);
    grid-column-gap: 20px;
    @include breakpoints.size(md){
      grid-template-columns: repeat(10, 1fr);
      grid-column-gap: 40px;
    }
    @include breakpoints.size(lg) {
      grid-template-columns: repeat(16, 1fr );
    }
  }
}


.just-grid{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 20px;
  @include breakpoints.size(md){
    grid-template-columns: repeat(10, 1fr);
    grid-column-gap: 40px;
  }
  @include breakpoints.size(lg) {
    grid-template-columns: repeat(16, 1fr);
  }
}