@use '../../global-styles/breakpoints';

.about{
  align-items: center;
}
.content{
  grid-column: 1/-1;
}
.title{}
.paragraph{}

.abstract_wrapper{
  grid-column: span 4;
}
.abstract_content{
  scale: 1.1;
  transform: translateX(-20px);
}

@include breakpoints.size(md){
  .content{
    grid-column: 5/11;
  }
}
@include breakpoints.size(lg){
  .abstract_wrapper{
    grid-column: span 7;
  }
  .content{
    grid-column: 9/15;
  }
}