@use '../global-styles/breakpoints';

.footer{
  position: relative;
  background-color: var(--color-darkest);
  width: 100%;
  &__content{
    padding: 40px 20px;
  }
  &__nav{
    grid-column: 1/-1;
    width: 100%;
    &__title{
      margin-bottom: 1rem;
    }
    ul li{
      margin-bottom: .75rem;
    }
  }
  &__references{
    grid-column: 1/-1;
    width: 100%;
  }
}

@include breakpoints.size(md){
  .footer{
    &__nav{
      grid-column: span 6;
      ul{
        display: flex;
        flex-flow: row nowrap;
        li{
          padding-right: 2rem;
          margin-right:  2rem;
          border-right: 2px solid var(--color-accent);
          &:last-of-type{
            border-right: none;
          }
        }
      }
    }
    &__references{
      grid-column: 7/-1;
    }
  }
}
@include breakpoints.size(lg){
  .footer__references{
    grid-column: 12 / -1;
  }
}
